<!--The content below is only a placeholder and can be replaced.-->


<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <h2>Stats</h2>
      <app-stats>
        
      </app-stats>
    </div>
    <div class="col-8">
      <h2>Data Table</h2>
      <alert-table [modalData]="modalData" (updateModal)="updateModalData($event)">
      </alert-table>
      <app-modal [modalData]="modalData" (updateModal)="updateModalData($event)">
      </app-modal>
    </div>
  </div>
</div>
