
<table class="table table-bordered ">
  <thead>
    <tr>
    <th scope="col">Alert Id</th>
    <th scope="col">Alert Time</th>
    <th scope="col">Client Country</th>
    <th scope="col">Client IP</th>
    <th scope="col">Protocol</th>
    <th scope="col">Server IP</th>
    <th scope="col">Severity</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let alert of alerts" (click)="chooseAlert(alert)">
        <th scope="row">{{alert.AlertId}}</th>
            <td>{{alert.AlertTime}}</td> 
            <td>{{alert.ClientCountry}}</td>
            <td>{{alert.ClientIP}}</td>
            <td>{{alert.Protocol}}</td>
            <td>{{alert.ServerIP}}</td>
            <td>{{alert.Severity}}</td>
    </tr>
  </tbody>
</table>
