<div>
  <div style="display: block">
    <canvas baseChart height="200px"
            [datasets]="severityBarChartData"
            [labels]="severityBarChartLabels"
            [options]="severityBarChartOptions"
            [legend]="severityBarChartLegend"
            [chartType]="severityBarChartType">
    </canvas>
  </div>
</div>

<div>
  <div style="display:block">
        <canvas baseChart height="200px"
            [datasets]="protocolBarChartData"
            [labels]="protocolBarChartLabels"
            [options]="protocolBarChartOptions"
            [legend]="protocolBarChartLegend"
            [chartType]="protocolBarChartType"
            >
    </canvas>
  </div>
</div>
